<!DOCTYPE html>
<html lang="ko">
  <title>202112701 손채연</title>
   <head>
   </head>
<body>


<p><% for (var i=0; i <data.length; i++){
  var no = data[i].brandId;
    var id = data[i].id;
    var name = data[i].name;%> 

    <table style="border:1px solid gray" width="800">
      <tr>
        <td style="width:20%">
          no
        </td>
        <td>
          <%=data[i].id %>
        </td>
      </tr>
      <tr>
        <td>
          지역
        </td>
        <td>
          <%=data[i].location %>
        </td>
      </tr>
      <tr>
        <td>
          카페명
        </td>
        <td>
          <%=data[i].name %>
        </td>
      </tr>
      <tr>
        <td>
          오픈시간
        </td>
        <td>
          <%=data[i].operatingtimeS %>시
        </td>
      </tr>
      <tr>
        <td>
          마감시간
        </td>
        <td>
          <%=data[i].operatingtimeE %>시
        </td>
      </tr>
      <tr>
        <td>
          설명
        </td>
        <td>
          <%=data[i].content %>
        </td>
      </tr>
      <tr>
        <td>
          상태
        </td>
        <td>
          <%=data[i].status %>
        </td>
      </tr>

    </table>

<% } %></p> 

<br>
<button onclick="history.back();">뒤로가기</button>
<a href="/brand/brandlist">브랜드리스트보러가기</a>
</body>
</html>
