<!DOCTYPE html>
<html lang="ko">
  <title>202112701 손채연</title>
   <head>
   </head>
<body>


<p><% for (var i=0; i <data.length; i++){
  var no = data[i].brandId;
    var id = data[i].id;
    var name = data[i].name;%> 

    <table style="border:1px solid gray" width="800">
      <tr>
        <td style="width:20%">
          no
        </td>
        <td>
          <%=data[i].id %>
        </td>
      </tr>
      <tr>
        <td>
          지역
        </td>
        <td>
          <%=data[i].location %>
        </td>
      </tr>
      <tr>
        <td>
          카페명
        </td>
        <td>
          <%=data[i].name %>
        </td>
      </tr>
      <tr>
        <td>
          오픈시간
        </td>
        <td>
          <%=data[i].operatingtimeS %>시
        </td>
      </tr>
      <tr>
        <td>
          마감시간
        </td>
        <td>
          <%=data[i].operatingtimeE %>시
        </td>
      </tr>
      <tr>
        <td>
          설명
        </td>
        <td>
          <%=data[i].content %>
        </td>
      </tr>
      <tr>
        <td>
          상태
        </td>
        <td>
          <%=data[i].status %>
        </td>
      </tr>

    </table>

<% } %></p> 

<table border="1px solid red">
  <tr>
    <td>
      <form action="/cafe/cafeinsert/<%=id%>" method="post">
        지역 : <input type="text" name="location" placeholder="카페 지역을 입력하세요.">
        이름 : <input type="text" name="name" placeholder="카페 이름을 입력하세요.">
        오픈시간 : <input type="text" name="operatingtimeS" placeholder="카페 오픈 시간을 입력하세요.">
        마감시간 : <input type="text" name="operatingtimeE" placeholder="카페 마감시간을 입력하세요.">
        설명 : <input type="text" name="content" placeholder="카페 설명을 입력하세요.">
        현재 상태 : <input type="text" name="status" placeholder="카페 현재 상태를 입력하세요.">
        <input type="submit" onclick="" value="카페추가하기">
      </form>
    </td>
  </tr>
</table>
<br>
<button onclick="history.back();">뒤로가기</button>
<a href="/cafe/cafelist">카페리스트보러가기</a>
</body>
</html>
